.bookmarks-container{
    background: rgba(17, 17, 17, 0.05);
    border-radius: 8px;
    padding: 30px;
    position: sticky;
    top: 100px;
}
.bookmarks-container h2{
    margin-top: 0px;
}
.bookmarks-blog{
    margin-bottom: 16px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}
.bookmarks-blog h4{
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}