.blogs-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 24px;
}
.bookmarks-blogs{
    position: sticky;
    top: 0;
}


@media only screen and (max-width: 600px) {
    .blogs-container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 24px;
    }
}