.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h3{
    font-size: 40px;
    font-weight: 700;
    margin: 20px 0;
}
.header a{
    font-size: 20px;
    color: black;
}
.header img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.header-item{
    display: flex;
    align-items: center;
    gap: 50px;
}